<h1>{{title}} <br> <br> {{vasia}}</h1>
<!--<app-users></app-users>-->
<!--<div> <app-users></app-users></div>-->
<app-users></app-users>

















<!--<div>{{users}}</div>-->
<!--<ul>-->
<!--  <li>{{vasia}}</li>-->
<!--  <li *ngFor="let user of users">-->
<!--    <div *ngIf="user.status">{{user.name}} {{user.age}} years old</div>-->
<!--      </li>-->

<!--</ul>-->
<!--<div *ngFor="let user of users">-->
<!--  <div *ngIf="!user.status">{{user.name}} {{user.age}} years old</div>-->
<!--</div>-->
